$app-black: rgb(22, 24, 22);
$app-gray: rgb(231, 231, 233);
$app-gray-dark: rgb(175, 169, 169);
$app-green: rgb(130, 152, 64);
$app-blue: rgb(10, 118, 205);
$app-white: rgb(255, 254, 254);
$app-red: rgb(219, 71, 71);

$max-width: 950px;
$padding-double: 32px;
$padding-single: 16px;
$padding-half: 8px;
$padding-container: 2.5%;

$font-headers: 'Libre Baskerville', serif;
$font-body: 'Roboto', sans-serif;

$mobile-width: 425px;
$tablet-width: 700px;
$desktop-width: 1024px;

$border-radius: 5px
