$app-black: #051603;
$app-gray: #E7E7E9;
$app-gray-dark: #AFA9A9;
$app-green: #829840;
$app-blue: #0A76CD;
$app-white: #FFFEFE;

$max-width: 950px;
$padding-double: 32px;
$padding-single: 16px;
$padding-half: 8px;
$padding-container: 2.5%;

$font-headers: 'Libre Baskerville', serif;
$font-body: 'Roboto', sans-serif;

$mobile-width: 425px;
$tablet-width: 700px;
$desktop-width: 1024px;
