$black: #051603;
$gray: #e7e7e9;
$gray-dark: #bbb;
$green: #829840;
$white: #fff;

$max-width: 850px;
$padding-double: 32px;
$padding-single: 16px;
$padding-half: 8px;
$padding-container: 2.5%;

$font-headers: 'Rokkitt', serif;
$font-body: 'Lato', sans-serif;

$mobile-width: 425px;
$tablet-width: 700px;
$desktop-width: 1024px;
