.container {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $max-width;
  padding: {
    bottom: $padding-double;
    left: $padding-container;
    right: $padding-container;
    top: $padding-double;
  }
}

.header {
  @include heading-typography('h1');
  text-align: center;
}


.wrapper {
  padding: {
    bottom: $padding-double;
    left: $padding-single;
    right: $padding-single;
    top: $padding-double;
  }
}
